# Ignore jupyter checkpoints and pycache
.ipynb_checkpoints
__pycache__

# Ignore anything in samples we haven't already committed
transformers-master/examples/*

# Ignore Squad2.0 data
squad2/*.json

# Ignore models 
albert-base-v2
albert-base-v2-squad2
bert-base-uncased
bert-base-uncased-squad2
distilbert-base-uncased
distilbert-base-uncased-squad2
