# Ignore jupyter checkpoints and pycache
.ipynb_checkpoints
__pycache__

# Ignore saved probes and preds (maybe? for now)
pretrained_probes
fine_tuned_probes
pretrained_preds
fine_tuned_probes

# Ignore anything in samples we haven't already committed
transformers-master/examples/*

# Ignore probes/preds
0*

# Ignore Squad2.0 data
squad2/*.json