# Ignore jupyter checkpoints and pycache
.ipynb_checkpoints
__pycache__

# Ignore predictions/results from using models
results

# Ignore saved softmax models from test jupyter script
sm_model

# Ignore saved probes (maybe? for now)
pretrained_probes
fine_tuned_probes